<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Comanda</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<table class="table2">
    <tr class="row2">
        <td class="col2"><a href="\"><button type="button" class="button1">Indietro</button></a></td>
    </tr>
    </table>
    <h1>Elenco comande</h1>
    <table class="table1">
    <thead>
    <tr>
		<th>ID COMANDA</th>
		<th>DATA E ORA</th>
		<th>ID TAVOLO</th>
		<th>PREZZO TOTALE</th>
		<th>ID DIPENDENTE</th>
		<th><a href="{{ url_for('crea_comanda') }}"><img src="{{ url_for('static', filename='img/aggiungi.png' ) }}" title="Aggiungi"/></a></th>
    </tr>
	</thead>
    <tbody>
		{% for comanda in comande %}
		<tr>
            <td> {{ comanda.id_comanda }} </td > 
			<td> {{ comanda.data_ora }} </td> 
			<td> {{ comanda.id_tavolo }} </td> 
			<td> {{ comanda.prezzo_totale }} </td> 
			<td> {{ comanda.id_dipendente }} </td> 
            <td> 
				<form style="display:none" id="dettagli_{{comanda.id_comanda}}" method="post" action="{{ url_for('dettagli') }}">
					<input name="id_comanda" type="text" value="{{ comanda.id_comanda }}" /> non fa vedere form id comanda
				</form>
				<button type="submit" form="dettagli_{{comanda.id_comanda}}">
					<img src="{{ url_for('static', filename='img/dettagli.png' ) }}" title="Dettagli"/> 
				</button>   
				
				<a href="{{ url_for('modifica_comanda', id_comanda=comanda.id_comanda) }}"> 
				<img src="{{ url_for('static', filename='img/modifica.png' ) }}" title="Modifica"/> 
				</a>
				
				<form style="display:none" id="elimina_{{comanda.id_comanda}}" method="post" action="elimina">
					<input name="id_comanda" type="text" value={{ comanda.id_comanda }} />
				</form>
				<button type="submit" form="elimina_{{comanda.id_comanda}}"> 
					<img src="{{ url_for('static', filename='img/elimina.png' ) }}" title="Elimina" /> 
				</button>
			</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</body>
</html>
